#book-area{
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row;
  width: "100%";
  align-self: center;
  height: 100%;
}

#book-nav{
  display: flex;
  flex-direction: column;
  align-self: left;
  width: 30%;
}


#book-page{
  display: flex;
  flex-direction: column;
  width: 50%;
  height:800px 
}

